.wrapper
  .header
    = render "header"

  .main
    .main__form
      .group
        .group__form
          %input.new_user_registration{placeholder:"メールアドレス"}
      .group
        .group__form
          %input.new_user_registration{type:'password', placeholder:"パスワード"}
      .registration__btn
        =link_to "#", class:'btn' do
          %button.btn ログイン
        
  .footer
    = render "footer"