.wrapper
  .header
    = render "header"

  .main
    .main__form
      .group
        .group__text
          .group__text__main
            ニックネーム
          .group__text__require
            必須
        .group__form
          %input.new_user_registration{placeholder:"例)フリマ太郎"}
      .group
        .group__text
          .group__text__main
            メールアドレス
          .group__text__require
            必須
        .group__form
          %input.new_user_registration{placeholder:"PC・携帯どちらでも可"}
      .registration__btn
        =link_to "#", class:'btn' do
          %button.btn ログイン
        
  .footer
    = render "footer"