.main-contents 
  .top-picture
    .top-picture__body
      %h.top-picture__body__subtitle
        %br
        人生を変えるフリマアプリ
      %p.top-picture__body__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .top-picture__body__btn
        %a{href: "#", class: "top-picture__body__btn__btn-a"}
          =image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "180x100"
        %a{href: "#", class: "top-picture__body__btn__btn-b"}
          =image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "180x100"

  .mean
    %h.mean__subtitle
    %ul.mean__lists

      %li.mean__lists__list
        .mean__lists__list__pic
          %span.mean__lists__list__pic__number 1
          =image_tag "pict-reason-01.jpg", width: "100%"
        %h.mean__lists__list__text
          %span.list__text__span 3分
          ですぐに出品
        %p.mean__lists__list__description
          スマホで入力するだけで簡単に出品で
          きる！

      %li.mean__lists__list
        .mean__lists__list__pic
          %span.mean__lists__list__pic__number 2
          =image_tag "pict-reason-02.jpg", width: "100%"
        %h.mean__lists__list__text
          %span.list__text__span シンプル
          で使いやすい
        %p.mean__lists__list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.mean__lists__list
        .mean__lists__list__pic
          %span.mean__lists__list__pic__number 3
          =image_tag "pict-reason-03.jpg", width: "100%"
        %h.mean__lists__list__text
          手数料
          %span.list__text__span 業界最安
        %p.mean__lists__list__description
          最大3%でお得に出品&購入！

  .middle-picture
    .middle-picture__body
      %h.middle-picture__body__subtitle
        %br
        会員数日本一位
      %p.middle-picture__body__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .middle-picture__body__btn
        %a{href: "#", class: "middle-picture__body__btn__btn-a"}
          =image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "180x100"
        %a{href: "#", class: "middle-picture__body__btn__btn-b"}
          =image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "180x100"
  .feature
  .pick-ups
    .pick-ups__box
      %h.pick-ups__box__title
        ピックアップカテゴリー
      %a{href: "#", class: "pick-ups__box__link-title"}
        新規投稿商品
      .pick-ups__box__goods
        %a{href: "#", class: "pick-ups__box__goods__list"}
        %a{href: "#", class: "pick-ups__box__goods__list"}
        %a{href: "#", class: "pick-ups__box__goods__list"}

  .brand
    .brand__container
      %h.brand__container__title
        ピックアップブランド
      %a{href: "#", class: "brand__container__link-title"}
        アーカイバ
      .brand__container__category
        %a{href: "#", class: "brand__container__category__list"}
        %a{href: "#", class: "brand__container__category__list"}
        %a{href: "#", class: "brand__container__category__list"}

  .bottom-picture
    .bottom-picture__body
      %h.bottom-picture__body__subtitle
        %br
        だれでもかんたん、人生を変えるフリマアプリ
      %p.bottom-picture__body__text
        今すぐ無料ダウンロード！
      .bottom-picture__body__btn
        %a{href: "#", class: "bottom-picture__body__btn__btn-a"}
          =image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "180x100"
        %a{href: "#", class: "bottom-picture__body__btn__btn-b"}
          =image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "180x100"
