.goRootPage
  %h1.goRootPage__icon
    = link_to "/" do
      = image_tag "logo.png",size: '134x36',alt:"FURIMA"
.wrapperNew
  .setNewPage
    .setNewPage__imageZone
      .setNewPage__imageZone__main
        .subTitleRepeat
          出品画像
          .b
            必須
        .setNewPage__imageZone__main__max
          最大10枚までアップロードできます
        .setNewPage__imageZone__main__form

    .setNewPage__detailZone
      .setNewPage__detailZone__main
        .subTitleRepeat
          商品名
          .b
            必須
        .putInName
        .subTitleRepeat
          商品の説明
          .b
            必須
        .putInExplain
          書く
    .setNewPage__conditionZone
      .setNewPage__conditionZone__main
        .f
          商品の詳細
        .setNewPage__conditionZone__main__block
          .subTitleRepeat
            カテゴリー
            .b
              必須
          .putIncategory
          .subTitleRepeat
            状態
            .b
              必須
          .putInState
          .subTitleRepeat
            サイズ
          .putInSize
    .setNewPage__deliveryZone
      .setNewPage__deliveryZone__main
        .f
          配送について
        .subTitleRepeat
          配送量の負担
          .b
            必須
        .putInPostage
        .subTitleRepeat
          発送元の地域
          .b
            必須
        .putInregion
        .subTitleRepeat
          配送に要する日数
          .b
            必須
      

      
   