= render "goods/header"

.main
  .card-content
    = render "users/mypage-side"
    .card-content__main
      %h2.card-content__main__top クレジットカード情報入力
      .group
        .group__text
          .group__text__main
            カード番号
          .group__text__require
            必須
        .group__form
          %input.card_registration{placeholder:"半角数字のみ"}
        %ul.card_lists
          -@bland.each do |bland|
            %li.card_lists__icon
              =image_tag bland, class:"bland_logo"
        .group
          .group__text
            .group__text__main
              有効期限
            .group__text__require
              必須
          .group__form
            = select_tag 'year', options_for_select(["--",*01..12]), class: "select_tag"
            %span 月
            = select_tag 'year', options_for_select(["--",*20..30]), class: "select_tag"
            %span 年
        .group
          .group__text
            .group__text__main
              セキュリティコード
            .group__text__require
              必須
          .group__form
            %input.card_registration{type:"password", placeholder:"カードの背面4桁もしくは3桁の番号"}
            .group__form--require
              =link_to "#", class:"require" do
                カード裏面の番号とは？
        .registration
          .registration__btn
            =link_to "#", class:'btn' do
              %button.btn
                追加する

=render "goods/indfooter"