.main-delete{
  background-color: rgb(240, 238, 238);
  width: 100%;
  .delete {
    background-color: #fff;
    width: 600px;
    margin: 0 auto;
    height: calc(100%-180px);
    padding-bottom: 10px;
    &__top {
      height: 100px;
      line-height: 100px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      border-bottom: 1px solid rgb(221, 219, 219);
      margin-bottom: 40px;
    }
    &__btn {
      width: 400px;
      margin: 30px auto;
      .btn {
        margin: 0 auto;
        width: 400px;
        height: 60px;
        color: white;
        background-color: $main_color;
        text-decoration: none;
        font-size: 20px;
        outline: 0;
      }
    }
  }
}
