.footer{
  width: 100%;
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  margin-top: auto;
  .contents{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    .content__title{
    margin: 0 0 20px;
    font-size: 24px;
    }
    li{
    padding-top: 10px;
    }
    a{
    text-decoration: none;
    color: #fff;
    }
  }
}