.footer{
  width: 100%;
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  margin-top: auto;
  .contents{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    .content__title{
    margin: 0 0 20px;
    font-size: 24px;
    }
    li{
    padding-top: 10px;
    }
    a {
      color: #fff;
      text-decoration: none;
      position: relative;
      display: inline-block;
      transition: .3s;
    }
    a::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      content: '';
      width: 0;
      height: 2px;
      background-color: #31aae2;
      transition: .3s;
      transform: translateX(-50%);
    }
    a:hover::after{
      width: 100%;
    }
    a:hover{
      color : #3CCACE;
    }
  }
}